.lead__locality_place_tver {
  top: 267.16px;
  left: 186.48px;
}

@media screen and (max-width: 1024px) {
  .lead__locality_place_tver {
    top: 252px;
    left: 176px;
  }
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 320px) {
  
}