.lead__locality_place_manturovo {
  top: 222.76px;
  left: 362.8px;
}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 768px) {
  .lead__locality_place_manturovo {
  top: 173px;
  left: 283px;
  max-width: 59px;
  }
}

@media screen and (max-width: 320px) {
  
}