.lead__locality_place_krasnoyarsk {
  top: 202px;
  left: 824px;
}

@media screen and (max-width: 1024px) {
  .lead__locality_place_krasnoyarsk {
    top: 191px;
    left: 777px;
  }
}

@media screen and (max-width: 768px) {
  .lead__locality_place_krasnoyarsk {
    top: 158px;
    left: 643px;
    max-width: 63px;
  }
}

@media screen and (max-width: 320px) {
  
}