.lead__locality_place_yaroslavl {
  top: 292.68px;
  left: 279px;
}

@media screen and (max-width: 1024px) {
  .lead__locality_place_yaroslavl {
    top: 276px;
    left: 263px;
  }
}

@media screen and (max-width: 768px) {
  .lead__locality_place_yaroslavl {
    top: 228px;
    left: 218px;
    max-width: 57px;
  }
}

@media screen and (max-width: 320px) {
  .lead__locality_place_yaroslavl {
    top: 92.2px;
    left: 90.8px;
    max-width: 23.9px;
  }
}