.lead__locality_place_tver {
  top: 267.16px;
  left: 186.48px;
}

@media screen and (max-width: 1024px) {
  .lead__locality_place_tver {
    top: 252px;
    left: 176px;
  }
}

@media screen and (max-width: 768px) {
  .lead__locality_place_tver {
    top: 208px;
    left: 145px;
    max-width: 29px;
  }
}

@media screen and (max-width: 320px) {
  .lead__locality_place_tver {
    top: 86.9px;
    left: 60.6px;
    max-width: 12.1px;
  }
}