.lead__locality_place_tumen {
  top: 267px;
  left: 621px;
}

@media screen and (max-width: 1024px) {
  .lead__locality_place_tumen {
    top: 254px;
    left: 586px;
  }
}

@media screen and (max-width: 768px) {
  .lead__locality_place_tumen {
    top: 210px;
    left: 485px;
    max-width: 41px;
  }
}

@media screen and (max-width: 320px) {
  .lead__locality_place_tumen {
    top: 87.6px;
    left: 202px;
    max-width: 17px;
  }
}