.lead__locality_place_ulanude {
  top: 269px;
  left: 897px;
}

@media screen and (max-width: 1024px) {
  .lead__locality_place_ulanude {
    top: 254px;
    left: 846px;
  }
}

@media screen and (max-width: 768px) {
  .lead__locality_place_ulanude {
    top: 210px;
    left: 700px;
    max-width: 49px;
  }
}

@media screen and (max-width: 320px) {
  .lead__locality_place_ulanude {
    top: 87.6px;
    left: 292px;
    max-width: 20.34px;
  }
}