.lead__locality_place_kotelnich {
  top: 255px;
  left: 415px;
}

@media screen and (max-width: 1024px) {
  .lead__locality_place_kotelnich {
    top: 241px;
    left: 391px;
  }
}

@media screen and (max-width: 768px) {
  .lead__locality_place_kotelnich {
    top: 199px;
    left: 324px;
    max-width: 66px;
  }
}

@media screen and (max-width: 320px) {
  
}