.lead__locality_place_tumen {
  top: 267px;
  left: 621px;
}

@media screen and (max-width: 1024px) {
  .lead__locality_place_tumen {
    top: 254px;
    left: 586px;
  }
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 320px) {
  
}