.lead__locality_place_novgorod {
  top: 90.21px;
  left: 92.54px;
}

@media screen and (max-width: 1024px) {
  .lead__locality_place_novgorod {
    top: 85px;
    left: 87px;
  }
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 320px) {
  
}