.lead__locality_place_perm {
  top: 225px;
  left: 548px;
}

@media screen and (max-width: 1024px) {
  .lead__locality_place_perm {
    top: 213px;
    left: 517px;
  }
}

@media screen and (max-width: 768px) {
  .lead__locality_place_perm {
    top: 176px;
    left: 428px;
    max-width: 31px;
  }
}

@media screen and (max-width: 320px) {
  
}