.lead__locality_place_pskov {
  top: 235.58px;
  left: 23.27px;
}

@media screen and (max-width: 1024px) {
  .lead__locality_place_pskov {
    top: 222px;
    left: 22px;
  }
}

@media screen and (max-width: 768px) {
  .lead__locality_place_pskov {
    top: 183px;
    left: 18px;
    max-width: 31px;
  }
}

@media screen and (max-width: 320px) {
  .lead__locality_place_pskov {
    top: 76.6px;
    left: 7.7px;
    max-width: 13px;
  }
}