.lead__locality_place_glazov {
  top: 300px;
  left: 546px;
}

@media screen and (max-width: 1024px) {
  .lead__locality_place_glazov {
    top: 283px;
    left: 515px;
  }
}

@media screen and (max-width: 768px) {
  .lead__locality_place_glazov {
    top: 234px;
    left: 426px;
    max-width: 36px;
  }
}

@media screen and (max-width: 320px) {
  
}