.gallery {
  margin: 0 48px;
  max-width: 100%;
}

@media screen and(max-width: 768px) {
  .gallery {
    margin: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .gallery {
    margin: 0 16px;
  }
}