.places {
  max-width: min-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 80px;
}

@media screen and (max-width: 768px) {
  .places {
    row-gap: 73px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    row-gap: 50px;
  }
}