.lead {
  max-width: 1280px;
  margin-left: 148px;
  margin-right: 148px;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 1024px;
    margin-left: 48px;
    margin-right: 48px;
}
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    margin: 0;
  }
}