@media screen and (max-width: 1024px){
  .gallery__item {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .gallery__item {
    width: 352px;
  }
}

@media screen and (max-width: 320px) {
  .gallery__item {
    width: 288px;
  }
}