.header__logo {
  max-width: 176px;
  margin: 28px 0 0 48px;
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 142px;
  }
}