.lead__point{
  position: absolute;
}

/*.lead__point_place_pskov {
  top: 219.7px;
  left: 37px;
}*/

@media screen and (max-width: 1024px) {
  .lead__point {
    max-width: 6.5px;
  }
}

@media screen and (max-width: 768) {
  .lead__point {
    max-width: 545px;
  }
}

@media screen and (max-width: 320px) {
  .lead__point {
    
  }
}