.lead__point{
  position: absolute;
}

.lead__point_place_pskov {
  top: 219.7px;
  left: 37px;
}
/*.lead__point:nth-of-type(2) {
  
}

.lead__point:nth-of-type(3) {
  
}

.lead__point:nth-of-type(4) {
  
}

.lead__point:nth-of-type(5) {
  
}*/