.lead__route {
  margin: 0;
  position: absolute;
  top: 128.6px;
  left: 41.5px;
}

@media screen and (max-width: 1024px) {
  .lead__route {
    max-width: 835px;
    max-height: 211px;
    top: 121px;
    left: 39px;
  }
}

@media screen and (max-width: 768px) {
  .lead__route {
    max-width: 691px;
    max-height: 175px;
    top: 100px;
    left: 32px;
  }
}

@media screen and (max-width: 320px) {
  .lead__route {
  max-width: 288px;
  max-height: 73px;
  top: 42px;
  left: 13.5px;
  }
}