.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #ffffff;
  margin: 56px auto 92px auto;
  max-width: 720px;
  line-height: 104%;
  text-align: center;
  font-family: 'Inter';
}