.lead__image {
  max-width: 984px;
  display: block;
  margin-left: 148px;
  margin-right: 148px;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
    margin-left: 48px;
    margin-right: 48px;
}
}

@media screen and (max-width: 768px) {
  .lead__image {
    max-width: 768px;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    max-width: 320px;
  }
}