.cover__text {
  width: 560px;
  position: absolute;
  top: 245px;
  left: 312px;
}

.cover__text:hover {
  opacity: none;
}

@media screen and (max-width: 1024px) {
  .cover__text{
    top: 195px;
    left: 232px;
  }
}

@media screen and (max-width: 768px) {
  .cover__text {
    top: 115px;
    left: 104px;
  }
}

@media screen and (max-width: 320px) {
  .cover__text {
    width: 288px;
    top: 33px;
    left: 16px;
    bottom: 33px;
    right: 16px;
  }
}