.cover__background {
  width: 1184px;
  background-color: #2A2C2F;
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    max-width: 320px;
  }
}