.lead__caption {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 8px 0 0 0;
  margin-left: 178px;
}

@media screen and (max-width: 1024px) {
  .lead__caption {
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
  }
}