.lead__point_place_novgorod {
  top: 125.12px;
  left: 122.76px;
}

@media screen and (max-width: 1024px) {
  .lead__point_place_novgorod {
    top: 118px;
    left: 115px;
  }
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 320px) {
  
}