.lead__point_place_omsk {
  top: 271px;
  left: 727px;
}

@media screen and (max-width: 1024px) {
  .lead__point_place_omsk {
    top: 256px;
    left: 685px;
  }
}

@media screen and (max-width: 768px) {
  .lead__point_place_omsk {
    top: 212px;
    left: 567px;
  }
}

@media screen and (max-width: 320px) {
  
}