.lead__point_place_manturovo {
  top: 234px;
  left: 354.50px;
}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 768px) {
  .lead__point_place_manturovo {
    top: 182px;
    left: 274px;
  }
}

@media screen and (max-width: 320px) {
  
}