.lead__point_place_yaroslavl {
  top: 293px;
  left: 263.35px;
}

@media screen and (max-width: 1024px) {
  .lead__point_place_yaroslavl {
    top: 276px;
    left: 248px;
  }
}

@media screen and (max-width: 768px) {
  .lead__point_place_yaroslavl {
    top: 228px;
    left: 205px;
  }
}

@media screen and (max-width: 320px) {
  
}