.lead__point_place_perm {
  top: 241px;
  left: 564px;
}

@media screen and (max-width: 1024px) {
  .lead__point_place_perm {
    top: 227px;
    left: 532px;
  }
}

@media screen and (max-width: 768px) {
  .lead__point_place_perm {
    top: 188px;
    left: 440px;
  }
}

@media screen and (max-width: 320px) {
  .lead__point_place_perm {
    top: 78.4px;
    left: 183.6px;
  }
}