.lead__point_place_ulanude {
  top: 248px;
  left: 925px;
}

@media screen and (max-width: 1024px) {
  .lead__point_place_ulanude {
    top: 234px;
    left: 872px;
  }
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 320px) {
  
}