.lead__point_place_tver {
  top: 267.60px;
  left: 231.04px;
}

@media screen and (max-width: 1024px) {
  .lead__point_place_tver {
    top: 252px;
    left: 218px;
  }
}

@media screen and (max-width: 768px) {
  .lead__point_place_tver {
    top: 209px;
    left: 180px;
  }
}

@media screen and (max-width: 320px) {
  
}