.lead__point_place_tumen {
  top: 287px;
  left: 621px;
}

@media screen and (max-width: 1024px) {
  .lead__point_place_tumen {
    top: 270px;
    left: 586px;
  }
}

@media screen and (max-width: 768px) {
  .lead__point_place_tumen {
    top: 223px;
    left: 484px;
  }
}

@media screen and (max-width: 320px) {
  
}