.lead__point_place_kotelnich {
  top: 273px;
  left: 429px;
}

@media screen and (max-width: 1024px) {
  .lead__point_place_kotelnich {
    top: 258px;
    left: 404px;
  }
}

@media screen and (max-width: 768px) {
  .lead__point_place_kotelnich {
    top: 213px;
    left: 335px;
  }
}

@media screen and (max-width: 320px) {
  .lead__point_place_kotelnich {
    top: 89px;
    left: 139.6px;
  }
}