.places__item {
  margin: 0;
  display: grid;
  grid-template-columns: 460px 483px;
  grid-template-rows: min-content 1fr;
  grid-template-areas: 'title link'
                        'image text';
  row-gap: 48px;
  column-gap: 40px;
}